// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; }
.footer-content { color: $coGray;
	hr { margin: 0; border-color: $lineGray2; }
}

.fo-co-links { text-align: center; line-height: 1.0; margin: -5px 0;
	li { display: inline-block; vertical-align: top; padding: 0 12px; margin: 5px 0; border-right: 1px solid $coGray;
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; border-right: none; }
		a { display: block; color: inherit;
			&:hover { color: $coBlack; }
		}
	}

	@include breakpoint(phablet) { font-size: 12px;
		li { padding: 0 8px; }
	}
}

.fo-co-sns { text-align: center; @extend .bp-img;
	li { display: inline-block; vertical-align: top; margin: 0 15px;
		a { display: block; }
		&:hover {
			a { @include transform(translate3d(0,-7px,0)); }
		}
		&:focus, &:visited {
			a { @include transform(translate3d(0,0,0)); }
		}
	}

	@include breakpoint(tablet2) {
		li {
			a { @include transition(all 0.5s ease); }
		}
	}

	@include breakpoint(phablet) {
		li { width: 15%; margin: 0; padding: 0 8px; }
	}
}