// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
header { z-index: 100; position: fixed; top: 0; left: 0; width: 100%; background-color: $coWhite; }
.header-content { background-color: $coWhite;
	&.header-v2 { color: $coWhite;
		.mobile-menu-btn { color: $coWhite; }
	}

	@include breakpoint(tablet) {
		.logo { max-width: 250px; }

		&.header-v2 { background-color: $lineGray3; /** include transition(all 0.5s ease); **/
			.logo { max-width: 50px; }
		}

		&.scroll-down {
			&.bg-red { background-color: $bgRed; }
			&.bg-orange { background-color: $bgOrange; }
			&.bg-forest-blue { background-color: $bgForestBlue; }
			&.bg-water-fall { background-color: $bgWaterfall; }
			&.bg-purple { background-color: $bgPurple; }
			&.bg-dupain { background-color: $bgDupain; }
		}
	}

	@include breakpoint(tablet2) { box-shadow: 0 1px 5px rgba($coBlack, 0.1); }
}
.header-top { z-index: 5; position: relative;
	@include breakpoint(tablet2) { padding-right: 55px; }
	@include breakpoint(phablet) {
		.row {
			[class*="col"] {
				&.mt1 { margin-top: 7px; }
				&.mb1 { margin-bottom: 7px; }
			}
		}
	} 
}
.he-co-search { position: relative; width: 0; max-width: 265px; padding-left: 41px; background-color: transparent; border: 1px solid transparent; overflow: hidden;
	input { display: block; width: 0; padding: 10px; padding-left: 0; border: none; @include appearance(none); font-size: inherit; background-color: transparent; }
	.hc-se-icon { z-index: 1; position: absolute; top: 50%; left: 0; padding: 10px; font-size: 150%; cursor: pointer; @extend .bp-centralize; }
	&.active { width: 100%; border-color: $lineGray; background-color: $coWhite;
		input { width: 100%; }
		.hc-se-icon { color: $defaultColor; pointer-events: none; }
	}
}

.header-bottom {
	&.container-fluid { padding-left: 0; padding-right: 0; }

	@include breakpoint(non-tablet2) { display: block !important; } 
	@include breakpoint(tablet2) { display: none; position: absolute; top: 100%; left: 0; width: 100%; }
}
.menu { font-family: $fontB; font-weight: 600;
	> ul {
		> li { position: relative; display: block; float: left; width: 16.6666%; border-right: 1px solid $coWhite;
			&:last-child { border-right: none; }
			> a { display: block; padding: 5px; background-color: $coBlack; color: $coWhite; text-align: center; letter-spacing: 2px; }
			.he-bo-icon { display: none; position: absolute; top: 100%; left: 0; width: 100%; }
			p { display: none; }

			&.active {
				&:nth-child(1) {
					> a { background-color: $bgRed; }
				}

				&:nth-child(2) {
					> a { background-color: $bgOrange; }
				}

				&:nth-child(3) {
					> a { background-color: $bgForestBlue; }
				}

				&:nth-child(4) {
					> a { background-color: $bgWaterfall; }
				}

				&:nth-child(5) {
					> a { background-color: $bgPurple; }
				}

				&:nth-child(6) {
					> a { background-color: $bgDupain; }
				}
			}
		}
	}

	@include breakpoint(tablet2) {
		> ul {
			> li { width: 33.33%; border: none; outline: 1px solid $coWhite;
				&:nth-child(3n) { }
				> a { display: none; }
				.he-bo-icon { display: block; position: relative; top: 0; }
				p { display: block; }
			}
		}
	}
}

.he-bo-icon { position: relative; background-color: $coBlack; color: $coWhite !important; text-align: center; overflow: hidden; font-family: $fontB !important; font-weight: bold; letter-spacing: 2px; @extend .bp-img, .ease-none;
	> span { display: block; padding: 50px; }
	&.icon-red { background-color: $bgRed; }
	&.icon-orange { background-color: $bgOrange; }
	&.icon-forest-blue { background-color: $bgForestBlue; }
	&.icon-waterfall { background-color: $bgWaterfall; }
	&.icon-purple { background-color: $bgPurple; }
	&.icon-dupain { background-color: $bgDupain; }

	p { margin: 10px 0 0; }

	@include breakpoint(desktop) {
		> span { padding: 30px; }
	}

	@include breakpoint(tablet2) {
		> span { padding: 20px 0;
			img { max-width: calc(100% - 30px); }
		}
	}
}

.he-co-cover { z-index: 90; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba($coWhite, 0.8); /**@include transition(background .36s cubic-bezier(0.32, 0.08, 0.24, 1),height .56s cubic-bezier(0.52, 0.16, 0.24, 1));**/
	@include breakpoint(non-tablet2) { display: none !important; }
}

.hc-logo { line-height: 1.0; font-family: $fontC; text-transform: uppercase; @extend .fz-40;
	> * { display: inline-block; vertical-align: middle; }
	.icon { position: relative; overflow: hidden; @extend .bp-circle; box-shadow: 2px 2px 10px rgba($coBlack, 0.2); }
}