.ho-co-group {
	@include breakpoint(phablet) {
		&.mt2 { margin-top: 20px; }
	}
}

.ho-la-row { margin-left: -9px; margin-right: -9px;
	> .col { float: left; width: 100%; padding-left: 9px; padding-right: 9px;
		&.large { width: 67.5%; }
		&.short { width: 32.5%; }
	}
	&:after { content: ''; display: block; clear: both; }

	@include breakpoint(tablet) { margin-left: 0; margin-right: 0;
		> .col { float: none; width: auto !important; padding-left: 0; padding-right: 0; }
	}
}

.ho-la-co { }
.box-shadow { box-shadow: 3px 3px 7px rgba($coBlack, 0.3);
	&.active { box-shadow: 1px 6px 20px rgba($coBlack, 0.3); }
}
.hl-co-set { margin-bottom: 18px; padding: 8px; background-color: $coBlue1; color: $coWhite; @include animation(boxDown 0.5s ease forwards); @extend .box-shadow;
	&.bg-blue2 { background-color: $coBlue2; }
	&.bg-blue3 { background-color: $coBlue3; }
	&.bg-blue4 { background-color: $coBlue4; }
	&.bg-blue5 { background-color: $coBlue5; }

	&.set-small { }
	&.set-medium { }
	&.set-large { min-height: 530px; }

	&:hover { @include animation(boxUp 0.5s ease forwards); }

	.hl-co-capt { padding-top: 15px; font-size: 13px; }

	> a { display: block; color: inherit; @extend .ease-none;
		&:after { content: ''; display: block; float: none; }
		.row { margin-left: -5px; margin-right: -5px;
			.col { padding-left: 5px; padding-right: 5px;
				.hl-co-capt { padding-top: 0; }
				&.half { flex: 0 0 50%; width: 50%; }
				&.large { flex: 0 0 53.5%; width: 53.5%; }
				&.med { flex: 0 0 46.5%; width: 46.5%; }
			}
		}	
	}

	@include breakpoint(tablet) {
		&.set-large { min-height: 0; }
	}

	@include breakpoint(phablet) {
		> a {
			.row { display: block; margin-left: 0; margin-right: 0;
				.col { float: none; width: auto; padding-left: 0; padding-right: 0;
					&.half, &.large, &.med { flex: 0; width: auto; }
					.hl-co-capt { padding: 10px 0; }
				}
			}
		}
	}
}
@include keyframes(boxUp) {
	0% { @include transform(translate3d(0,0,0)); box-shadow: 3px 3px 7px rgba($coBlack, 0.3); }
	100% { @include transform(translate3d(0,-5px,0)); box-shadow: 1px 6px 20px rgba($coBlack, 0.3); }
}
@include keyframes(boxDown) {
	0% { @include transform(translate3d(0,-5px,0)); box-shadow: 1px 6px 20px rgba($coBlack, 0.3); }
	100% { @include transform(translate3d(0,0,0)); box-shadow: 3px 3px 7px rgba($coBlack, 0.3); }
}

.hl-co-ba { position: relative; @extend .bp-img, .bp-img.wide;
	&:hover {
		.hl-co-icon	{ @extend .hl-co-icon.active; }
	}
}
a.hl-co-ba { display: block; }

.hl-co-icon { z-index: 3; position: relative; pointer-events: none; user-select: none; @extend .bp-img;
	&.bp-ab { position: absolute; top: 50%; left: 50%; max-width: 25%; @extend .bp-centralize3, .ease2; }
	&.active {
		&.bp-ab { @include transform(translate3d(-50%,-50%,0) scale(1.1)); }
	}

	&.icon-medium { max-width: 30%; }
}

.hc-ca-title { letter-spacing: 1px; }
.hl-co-capt {
	> * {
		&:last-child { margin-bottom: 0; }
	}
}

.hl-co-row { margin-left: -9px; margin-right: -9px;
	> .col { float: left; width: 100%; padding-left: 9px; padding-right: 9px; 
		&.col-half { width: 50%; }
	}
	&:after { content: ''; display: block; clear: both; }

	@include breakpoint(phablet) {
		> .col { float: none; width: auto;
			&.col-half { width: auto; }
		}
	}
}

.ho-la-box { padding: 10px; border-top: 10px solid $coBlack; background-color: $bgGray; @extend .box-shadow;
	&.bg-blue4 { background-color: $coBlue4; }

	@include breakpoint(tablet) {
		.hl-bo-list { margin-left: -9px; margin-right: -9px; border-bottom: 1px solid $coWhite;
			> li { display: inline-block; vertical-align: top; width: 50%; margin-left: -1px; margin-right: -1px; padding-left: 10px; padding-right: 10px; border-bottom: none; }
		}
	}

	@include breakpoint(phablet) {
		&.mb2 { margin-bottom: 20px; }

		.hl-bo-list { margin-left: 0; margin-right: 0;
			> li { display: block; width: auto; margin-left: 0; margin-right: 0; padding: 10px 0; border-bottom: 1px solid $coWhite;
				&:first-child { padding-top: 15px; }
				&:last-child { padding-bottom: 15px; border-bottom: none; }
			}
		}

		// .hb-li-set {
		// 	> a {
		// 		> div { float: none !important; max-width: 100% !important; padding-right: 0;
		// 			&.capt { padding-top: 10px; }
		// 		}
		// 	}
		// }
	}
}
.hl-bo-top { padding-bottom: 10px; border-bottom: 1px solid $defaultColor;
	.bp-title { line-height: 1.0; }
	> * {
		&:last-child { margin-bottom: 0; }
	}
}

.hl-bo-list {
	> li { padding: 11px 0; border-bottom: 1px solid $coWhite; }
}
.hb-li-set {
	> a { display: block; color: inherit;
		> div { float: left; width: 100%; padding-right: 10px;
			&:last-child { padding-right: 0; }
			&.banner { max-width: 100px;
				&.half { max-width: calc(50% + 10px);}
			}
			&.capt { max-width: calc(100% - 100px);
				&.half { max-width: calc(50% - 10px); }
			}
		}
		&:after { content: ''; display: block; clear: both; float: none; }
		&:hover { opacity: 0.7; }
	}
}

.hl-bo-bottom { margin-bottom: -1px; }

.hl-bo-row { margin-left: -10px; margin-right: -10px;
	.col { padding-left: 10px; padding-right: 10px;
		&.large { flex: 0 0 75%; width: 75%; }
		&.short { flex: 0 0 25%; width: 25%; }
		&.med { flex: 0 0 70%; width: 70%; }
		&.short2 { flex: 0 0 30%; width: 30%; }

		.btn-absolute { padding-left: 10px; padding-right: 10px; }
	}

	&.row-line {
		.col { border-right: 2px solid $coWhite;
			&:last-child { border-right: none; }
		}
	}

	@include breakpoint(tablet) { display: block; margin-left: 0; margin-right: 0;
		.col { flex: 0 !important; width: auto !important; padding-left: 0; padding-right: 0; }
		&.row-line {
			.col { padding-top: 15px; padding-bottom: 15px; border-right: none; border-bottom: 1px solid $coWhite;
				&:first-child { padding-top: 0; }
			}
		}
	}
}

.hl-bo-frame { position: relative; padding-top: 56.25%; overflow: hidden; @extend .bp-banner;
	iframe { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

.hl-vi-list {
	> li { margin-bottom: 15px;
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(tablet) {
		&.col3 { margin-left: -10px; margin-right: -10px;
			> li { float: left; width: 33.33%; padding-left: 10px; padding-right: 10px; margin-bottom: 0; }
			&:after { content: ''; display: block; float: none; clear: both; }
		}

		.hb-li-set {
			> a {
				> div { float: none; width: auto; max-width: 100% !important; padding-right: 0;
					&.capt { padding-top: 10px; }
				}
			}
		}
	}

	@include breakpoint(phablet) {
		> li { padding: 10px 0; margin-bottom: 0; border-bottom: 1px solid $coWhite;
			&:first-child { padding-top: 0; }
			&:last-child { padding-bottom: 0; border-bottom: none; }
		}
		&.col3 { margin-left: 0; margin-right: 0;
			> li { float: none; width: auto; padding-left: 0; padding-right: 0; }
		}

		.hb-li-set {
			> a {
				> div { float: left !important; padding-right: 10px;
					&:last-child { padding-right: 0; }
					&.banner { max-width: 150px !important; }
					&.capt { max-width: calc(100% - 150px) !important; }
				}
			}
		}
	}
}
.hl-vi-set {
	> a { display: block; color: inherit;
		&:hover { opacity: 0.8; }
	}
}

.ho-cat-list {
	> li { float: left; width: 100%; }
	&.col3 { margin-left: -9px; margin-right: -9px;
		> li { width: 33.33%; padding-left: 9px; padding-right: 9px; margin-bottom: 18px;
			&:last-child { margin-bottom: 0; }
		}
	}
	&:after { content: ''; display: block; float: none; clear: both; }

	@include breakpoint(tablet) {
		&.col3 {
			> li { width: 50%; }
		}
	}

	@include breakpoint(phablet) {
		> li { float: none; }
		&.col3 { margin-left: 0; margin-right: 0;
			> li { width: auto; padding-left: 0; padding-right: 0; }
		}
	}
}
.hc-li-set {
	.hl-co-capt {
		p { margin-bottom: 5px; }
	}
}
.hl-se-top { display: block; position: relative; padding: 5px 10px; border-top: 10px solid $coBlack; color: $coWhite;
	.hs-to-icon { position: absolute; top: 50%; left: 8px; font-size: 110%; @extend .bp-centralize; }
	&:hover { color: $coWhite; }
}
.hs-to-icon { }

.hc-li-main { padding: 10px; border: 1px solid $lineGray3; border-top: none;
	.hl-bo-list { margin: 10px 0; border-top: 1px solid $defaultColor;
		> li { border-bottom-color: $defaultColor; }
	}
}