 // this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { @include transition(all 0.5s ease); }
.ease2 { @include transition(all 0.3s ease); }
.ease-none { @include transition(none); }
.auto { max-width:$maxWidth; margin-left: auto; margin-right: auto;
	&.short { max-width: $mobileWidth; }
}
#main-wrapper { }
.fl { float:left; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }
.bp-set { display:inline-block; *display:inline;
  &.vm { vertical-align:middle; }
  &.vt { vertical-align:top; }
  &.vb { vertical-align:bottom; }
}
.bp-box { @include box-sizing(border-box); }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }
.co-black { color: $coBlack; }
.co-white { color: $coWhite; }

.bg-red { background-color: $bgRed; }
.bg-orange { background-color: $bgOrange; }
.bg-forest-blue { background-color: $bgForestBlue; }
.bg-water-fall { background-color: $bgWaterfall; }
.bg-purple { background-color: $bgPurple; }
.bg-dupain { background-color: $bgDupain; }
.bg-gray { background-color: $bgGray; }


.pad-edge { padding-left: 15px; padding-right: 15px; }
.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }
}
.bp-nocurve { @include border-radius(0); }
.bp-curve { @include border-radius(5px); }
.bp-circle { @include border-radius(50%); }
.mobile-input { @include appearance(none); @include border-radius(0); }
.bp-centralize { @include transform(translate3d(0, -50%, 0)); }
.bp-centralize2 { @include transform(translate3d(-50%, 0, 0)); }
.bp-centralize3 { @include transform(translate3d(-50%, -50%, 0)); }
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.pt1{padding-top:$spaceOne}
.pt2{padding-top:$spaceTwo;  }
.pt3{padding-top:$spaceThree; }
.pt4{padding-top:$spaceFour; }
.pt5{padding-top:$spaceFive; }
.pb1{padding-bottom:$spaceOne}
.pb2{padding-bottom:$spaceTwo; }
.pb3{padding-bottom:$spaceThree; }
.pb4{padding-bottom:$spaceFour; }
.pb5{padding-bottom:$spaceFive; }
.mt1{margin-top:$spaceOne}
.mt2{margin-top:$spaceTwo; }
.mt3{margin-top:$spaceThree; }
.mt4{margin-top:$spaceFour; }
.mt5{margin-top:$spaceFive; }
.mb1{margin-bottom:$spaceOne}
.mb2{margin-bottom:$spaceTwo; }
.mb3{margin-bottom:$spaceThree; }
.mb4{margin-bottom:$spaceFour; }
.mb5{margin-bottom:$spaceFive; }
@include breakpoint(phablet) {
	.pt2 { padding-top: $spaceOne; }
	.pt3 { padding-top: $spaceTwo; }
	.pt4 { padding-top: $spaceThree; }
	.pt5 { padding-top: $spaceFour; }
	.pb2 { padding-bottom: $spaceOne; }
	.pb3 { padding-bottom: $spaceTwo; }
	.pb4 { padding-bottom: $spaceThree; }
	.pb5 { padding-bottom: $spaceFour; }
	.mt2 { margin-top: $spaceOne; }
	.mt3 { margin-top: $spaceTwo; }
	.mt4 { margin-top: $spaceThree; }
	.mt5 { margin-top: $spaceFour; }
	.mb2 { margin-bottom: $spaceOne; }
	.mb3 { margin-bottom: $spaceTwo; }
	.mb4 { margin-bottom: $spaceThree; }
	.mb5 { margin-bottom: $spaceFour; }
}
.bp-preloader { z-index: 9999; position:fixed; top: 0; left: 0; width:100%; height:100%; background-color: $coWhite; overflow:hidden;
	// &:before { content: ''; display: block; position: absolute; top: 0; left: 50%; height: 100%; border-left: 1px solid red; }
}
.ww-preloader { position: absolute; top: 50%; left: 47.8%; @extend .bp-centralize3; /**outline: 1px solid red;**/
	> span { display: block; float: left; height: 36px; margin: 0 3px; background-image: url('../images/logo_preloader.png'); background-repeat: no-repeat;
		&:nth-child(1) { width: 40px; background-position: -147px -25px; @include animation(ww1 2s ease infinite); }
		&:nth-child(2) { width: 29px; background-position: -193px -25px; @include animation(ww2 2s ease infinite); }
		&:nth-child(3) { width: 29px; background-position: -231px -25px; @include animation(ww3 2s ease infinite); }
		&:nth-child(4) { width: 28px; background-position: -269px -25px; @include animation(ww4 2s ease infinite); }
		&:nth-child(5) { width: 23px; background-position: -305px -25px; @include animation(ww5 2s ease infinite); }
		&:nth-child(6) { width: 28px; background-position: -337px -25px; @include animation(ww6 2s ease infinite); }
		&:nth-child(7) { width: 40px; background-position: -371px -25px; @include animation(ww7 2s ease infinite); }
		&:nth-child(8) { width: 30px; background-position: -415px -25px; @include animation(ww8 2s ease infinite); }
		&:nth-child(9) { width: 21px; background-position: -452px -25px; @include animation(ww9 2s ease infinite); }
		&:nth-child(10) { width: 21px; background-position: -452px -25px; @include animation(ww10 2s ease infinite); }
		&:nth-child(11) { z-index: 2; position: absolute; top: 50%; left: 60%; width: 131px; height: 86px; background-position: 0 0; @extend .bp-centralize3; @include animation(ww11 2s ease infinite); }
	}

	@include breakpoint(tablet2) { left: 44%; @include transform(translate3d(-50%,-50%,0) scale(0.7)); }
}

@include keyframes(ww1) {
	0%, 20%, 100% { opacity: 0; transform: translate3d(-200px,0,0) scale(0.9); }
	40%, 60% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww2) {
	0%, 18%, 100% { opacity: 0; transform: translate3d(-180px,0,0) scale(0.9); }
	40%, 60%, 62% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww3) {
	0%, 16%, 100% { opacity: 0; transform: translate3d(-160px,0,0) scale(0.9); }
	40%, 60%, 64% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww4) {
	0%, 14%, 100% { opacity: 0; transform: translate3d(-140px,0,0) scale(0.9); }
	40%, 60%, 66% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww5) {
	0%, 12%, 100% { opacity: 0; transform: translate3d(-120px,0,0) scale(0.9); }
	40%, 60%, 68% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww6) {
	0%, 10%, 100% { opacity: 0; transform: translate3d(-100px,0,0) scale(0.9); }
	40%, 60%, 70% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww7) {
	0%, 14%, 100% { opacity: 0; transform: translate3d(100px,0,0) scale(0.9); }
	40%, 60%, 66% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww8) {
	0%, 16%, 100% { opacity: 0; transform: translate3d(120px,0,0) scale(0.9); }
	40%, 60%, 64% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww9) {
	0%, 18%, 100% { opacity: 0; transform: translate3d(140px,0,0) scale(0.9); }
	40%, 60%, 62% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww10) {
	0%, 20%, 100% { opacity: 0; transform: translate3d(160px,0,0) scale(0.9); }
	40%, 60% { opacity: 1; transform: translate3d(0,0,0); }
}
@include keyframes(ww11) {
	0%, 10%, 100% { opacity: 1; transform: translate3d(-50%,-50%,0) scale(1); }
	45%, 66% { opacity: 0; transform: translate3d(-50%,-50%,0) scale(0.8); }
}
// you can include here the rest of your class name eg. home page
.anim-content, .animated, .animate, .tween { opacity: 0; }
.animated.visible { opacity: 1; }
.anim-content.visible { @include animation(animRun 0.5s ease forwards); }
@include keyframes(animRun) {
	0% { opacity: 0; @include transform(translateY(40px)); }
	100% { opacity: 1; @include transform(translateY(0)); }
}

.container-fluid {
	.container { padding-left: 0; padding-right: 0; }
	&.no-padding { padding-left: 0; padding-right: 0; }
	@include breakpoint(md) { padding-left: 40px; padding-right: 40px; }
	@include breakpoint(tablet) {
		.auto, .container {
			&[class*="pt"] { padding-top: 15px; }
			&[class*="pb"] { padding-bottom: 15px; }
			&[class*="mt"] { margin-top: 15px; }
			&[class*="mb"] { margin-bottom: 15px; }
		}
	}
}

// for backgrounds
.bp-banner { background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; }
.parallax { background-attachment: fixed; @extend .bp-banner; overflow: hidden;
  &.bp-ab { top: 0; left: 0; width: 100%; height: 100%; }
  &.top { background-attachment: inherit; background-position: 50% 50% !important; }
  &.cover { position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba($coBlack, 0.5);
  	&.red { background-color: rgba(#7e1e1e, 0.5); }
  }
}
html.bp-touch {
  .parallax { background-attachment: inherit; background-position: 50% 50% !important; }
}

// for buttons
.btn { display: block;
	&.bp-set { display: inline-block; }
}
.hb-btn { color: inherit; letter-spacing: 1px;
	> * { display: inline-block; vertical-align: middle; margin-right: 5px;
		&:last-child { margin-right: 0; }
	}
	[class*="icon"] { font-size: 28px; }
	&:hover, &:focus { color: inherit; opacity: 0.8; }
}