// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$maxWidth   : 980px; // can be use as max width of the container
$mobileWidth: 480px; // can be use as max width of the container

// for fonts
$defaultFont: 'Open Sans', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontA      : 'Open Sans', 'Helvetica', 'Calibri';
$fontB      : 'Montserrat', 'Helvetica', 'Calibri';
$fontC      : 'NeoSansStd', 'Helvetica', 'Calibri';
$icomoon    : 'icomoon';

// for font sizes
$fontSmall  : 12px;
$fontMedium : 14px;
$fontLarge  : 16px;
$fontxLarge : 18px;
$fontxxLarge: 20px;

// for colors
$defaultColor     : #333333; // default color for the independent paragraphs, input fields, etc
$defaultLinkColor : #3189DD; // default link color for the whole site
$coWhite          : #ffffff;
$coBlack          : #000000;
$coGray           : #666666;
$coBlue1 		  : #3d6f9f;
$coBlue2 		  : #339ee3;
$coBlue3 		  : #1081ce;
$coBlue4 		  : #7ac7ff;
$coBlue5 		  : #3b70a1;

$coRed1			  : #ed2124;
$coRed2			  : #a71c2f;
$coRed3			  : #e9156c;
$coRed4			  : #f37ca6;

$coOrange1        : #f05924;
$coOrange2        : #e22b25;
$coOrange3        : #e36a25;
$coOrange4        : #ee2126;

$coForestBlue1	  : #25b174;
$coForestBlue2	  : #0e685c;
$coForestBlue3	  : #013f32;
$coForestBlue4	  : #0b6669;

$bgWaterfall1	  : #0b7e6d;
$bgWaterfall2	  : #8abe40;
$bgWaterfall3	  : #2fb66a;
$bgWaterfall4	  : #39b04a;

$coPurple1   	  : #836fb4;
$coPurple2   	  : #55408f;
$coPurple3   	  : #85357a;
$coPurple4   	  : #662f8c;

$coDupain1   	  : #6a67ae;
$coDupain2   	  : #02518c;
$coDupain3   	  : #404682;
$coDupain4   	  : #2166b1;

$bgRed            : #ce2127;
$bgOrange         : #f8901f;
$bgForestBlue     : #0d4f69;
$bgWaterfall      : #1ea597;
$bgPurple         : #7147a0;
$bgDupain         : #3aa2d4;
$bgGray           : #dfdfdf;

$lineGray         : #eef2f1;
$lineGray2        : #666666;
$lineGray3        : #cccccc;

// for margin and padding
$spaceOne   : 10px;
$spaceTwo   : 20px;
$spaceThree : 30px;
$spaceFour  : 40px;
$spaceFive  : 50px;